<div class="container bg-light">
    <div class= "row justify-content-center">
        <div class= "col-4">
            <%= render 'shared/errors', obj: @user %>
            <%= form_with(model: @user, class: "form-signin text-center", local: true) do |f| %>
                <%= image_tag('forms.svg', :alt => "sign in", size: "360x360") %>
                    <% if !logged_in? %>
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up!</h1>
                    <% end %>
                    <%= f.label :username, class: "sr-only" %>
                        <%= f.text_field :username, class: "form-control", placeholder: "Enter an username" %>
                    <%= f.label :email, class: "sr-only" %>
                        <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address", required: "", autofocus: "" %>
                    <%= f.label :password, class: "sr-only" %>
                        <%= f.password_field :password, class: "form-control", placeholder: "Enter your password", required: "" %>
                    <%= f.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn btn-lg btn-primary btn-block mt-3") %>
                    <p class="mt-5 mb-3 text-muted">© 2020 - PTTT</p>
            <% end %>
        </div>
    </div>
</div>