

<!-- New Form for adding new pieces -->

<div class="container py-5 mb5 mt-5">
  <h1 class="mb-5">Adding A New Piece</h1>
<%= form_with(model: @piece, class: "", local: true) do |f| %>
  <div class="row py-4">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-left mb-3">
        <span class="text-muted">Choose Related Pieces</span>
        <span class="badge badge-primary badge-pill"><%= current_user.pieces.count %></span>
      </h4>
      <ul class="list-group mb-3">
        <%= f.collection_check_boxes :related_piece_ids, current_user.pieces, :id, :title do |cb| %>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="custom-control custom-checkbox">
              <%= cb.label(class: "custom-control") {cb.check_box(class: "custom-checkbox") + " " +cb.text } %>
          </div>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Piece Details</h4>
      <form class="needs-validation" novalidate="">
        <div class="mb-3">
          <%= f.label :title, class: "text-muted" %>
          <%= f.text_field :title, class: "form-control", placeholder: "Title of Piece" %>
        </div>
        <div class="mb-3">
          <%= f.label :description, class: "text-muted" %>
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of Piece" %>
        </div> 
        <div class="row">
          <div class="col-md-3 mb-3">
            <%= f.label :page_number, class: "text-muted" %>
            <%= f.text_field :page_number, class: "form-control"%>
          </div>
        </div>
        <hr class="mb-4">
        <h4 class="mb-3">Categories/Themes</h4>
        <%= f.collection_check_boxes :category_ids, current_user.categories, :id, :name do |cb| %>
          <div class="row">
            <div class="col-md-3 text-align-left">
              <%= cb.label(class: "custom-control") {cb.check_box(class: "custom-checkbox") + " " + cb.text } %>
            </div>
          </div>
        <% end %>
        <hr class="mb-4">
        <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
      </form>
    </div>
  </div>
 <% end %>
</div>