<h1>Show Piece</h1>
<p>
<%= @piece.title %>
</p>
<p>
<%= @piece.description %>
</p>
    <% if @piece.categories.any? %>
        <p>Themes : <%= render @piece.categories %> </p>
    <% end %>
<p>
by <%= @piece.user.username if @piece.user %> - <%= @piece.user.email if @piece.user %>
</p>

<div class="container">
    <% if @piece.related_pieces.any? %>
        <div class="card bg-primary text-white mb-3 text-center">
        <div class="card-body">
        <% @piece.related_pieces.each do |p| %>
            <p><strong><%= p.title %></strong></p>
            <p><%= p.description %></p>
        <% end %>
    <% end %>
</div>
  </div>
</div>
