<div class="container py-5 mb5 mt-2 text-center">
    <div class = "row">
        <div class="col-12 mt-5 shadow justify-content-center">
            <span class="badge badge-primary">Add New Category</span>
            <%= link_to image_tag('files.svg', :alt => "add pgit ieces", size: "240x240"), new_category_path %>
            <span class="badge badge-light">Total: <%= current_user.categories.count %></span>
        </div>
    </div>
</div>
<% if @categories.any? %>
  <div class="row justify-content-center">
      <div class="col-md-6">
            <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Category</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <%= link_to category.name, category_path(category), method: :get, class: "text-center mt-5" %> 
              has <%= category.pieces.count %> pieces
              created <%= time_ago_in_words(category.created_at) %> ago
            </td>
            <td>
              <% if logged_in? %>
                  <%= link_to "Edit", edit_category_path(category), method: :get, class: "btn btn-outline-info"  %>
                  <%= link_to "Delete", category_path(category), method: :delete, class: "btn btn-outline-danger", data: {confirm: "Are you sure"}  %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
  </div>
<% end %>
<div class="flickr_pagination mt-4">
        <div class="page_info">
          <%= page_entries_info @categories %>
        </div>
    <%= will_paginate @categories, :container => false %>
    </div> 

